body{
	width: 100vw;
	height: 120vh;
	background: linear-gradient(to bottom, #000000, #95f9c3);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	margin: 0px;
	display: flex;
	align-items: center;
	justify-content: center;


}


.Sign_Up-Box{
	width: 340px;
	background: #FFFFFF;
	padding: 10px;
	border: 10px black double;
	border-radius: 15px;

}


.Company-Name{
	margin-bottom: 10px;

}


.Company-Name #Company-Img{
	display: block;
	margin: auto;

}


.Form-box #FName, .Form-box #LName, .Form-box #PhoneNum, .Form-box #UsrEmail, .Form-box #UsrName, .Form-box #Pswrd, .Form-box #CPswrd{
	margin: 10px;
	/* border: 1px black solid; */
}


.Form-box #FName label, .Form-box #LName label, .Form-box #PhoneNum label, .Form-box #UsrEmail label, .Form-box #UsrName label, .Form-box #Pswrd label, .Form-box #CPswrd label{
	display: block;
	font-family: 'Playfair Display';
	font-size: 25px;
	color: #000000;
}


.Form-box #FName input, .Form-box #LName input, .Form-box #PhoneNum input, .Form-box #UsrEmail input, .Form-box #UsrName input, .Form-box #Pswrd input, .Form-box #CPswrd input{
	display: block;
	width: 97%;
	height: 30px;
	border: 3px black outset;
	border-radius: 5px;
}


.Form-box #FName input::placeholder, .Form-box #LName input::placeholder, .Form-box #PhoneNum input::placeholder, .Form-box #UsrEmail input::placeholder, .Form-box #UsrName input::placeholder, .Form-box #Pswrd input::placeholder, .Form-box #CPswrd input::placeholder{
	font-size: 20px;
	/* border: 1px black solid; */
	position: relative;
	top: 3px;
}


.Form-box #FName input:focus, .Form-box #LName input:focus, .Form-box #PhoneNum input:focus, .Form-box #UsrEmail input:focus, .Form-box #UsrName input:focus, .Form-box #Pswrd input:focus, .Form-box #CPswrd input:focus{
	display: block;
	width: 97%;
	height: 30px;
	outline: none;
	border: 3px green solid;
	border-radius: 5px;
}


.Wrong-Answer-Username-Div::after{
	content: " *Please only use letters, numbers and period in username";
	color: red;
}


.Wrong-Answer-Password-Div::after{
	content: " *Please enter atleast 8 characters";
	color: red;
}


.Wrong-Answer-Confirm-Password-Div::after{
	content: " *Passwords must match";
	color: red;
}


.Wrong-Answer-Phone-Div::after{
	content: " *Phone number must be proper format";
	color: red;
}


.Wrong-Answer-Email-Div::after{
	content: " *Enter a proper email";
	color: red;
}


.Wrong-Answer-Name-Div::after{
	content: " *Enter a proper name";
	color: red;
}


.Wrong-Answer::after{
	content: " *";
	color:red;
}


.Form-box #Terms-Of-Service{
	margin: 10px;
	display: flex;
	align-items: center;

}


.Form-box #Terms-Of-Service input{
	opacity: 0;
	position: absolute;
	cursor: pointer;

}


.Form-box #Terms-Of-Service label{
	font-size: 20px;
	display: flex;
	font-family: 'Playfair Display';
}


.Form-box #Terms-Of-Service label::before{
	content: "";
	width: 30px;
	height: 1em;
	border: 0.05em black solid;
	border-radius: 0.15em;
	margin-right: 0.5em;
	align-self: center;
	justify-self: flex-start;
}


.Form-box #Terms-Of-Service label:hover::before, .Form-box #Terms-Of-Service input:hover + label::before{
	background-color: lightgreen;
}


.Form-box #Terms-Of-Service input:checked + label::before{
	content: "\2715";
	background-color: #27ae60;
	display: flex;
	align-self: center;
	color: whitesmoke;
}


.Form-box #Terms-Of-Service p{
	margin: 10px;
	padding: 0px;
}


.Form-box #Terms-Of-Service a{
	color: #4fe743;
	font-style: italic;
	display: inline;
}


.Form-box #Sign-Up{
	display: block;
	width: 100%;
	height: 30px;
	margin-top: 10px;
}


.Form-box #Sign-Up input{
	display: block;
	width: 90%;
	height: 30px;
	margin: auto;
	border-radius: 5px;
	background: lightgreen;
}



.Already-Account #Account_BTN{
	display: block;
	margin: auto;
	width: 90%;
	height: 30px;
	border-radius: 5px;
	background: lightgreen;
	cursor: pointer;

}

.Alr_Acc{
	text-align: center;
	font-family: 'Playfair Display';
}


#Log-Out{
	text-decoration: none;
	cursor: pointer;
}


#eye_icon{
	display: flex;
	align-items: center;
}

#eye_icon img{
	transform: scale(0.333);
	opacity: 0.5;
}


#eye_icon img:hover{
	transform: scale(0.25);
	opacity: 1;
	cursor: pointer;
}