/* CSS for the login page*/

body{
	background: linear-gradient(to bottom, #000000, #95f9c3);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;

	margin: 0px;
	padding: 0px;


}


.Login-Box{
	background: #FFFFFF;
	padding: 10px;
	border: 10px black double;
	border-radius: 15px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	/*
	position: absolute;
	inset: 300px;
	margin: auto;
	Another way of centering a div
	Just don't specify a width
	or... use flexbox
	*/

}


.Company-Name{
	margin-bottom: 10px;

}


.Company-Name #Company-Img{
	display: block;
	margin: auto;

}


.Form-box #Username, .Form-box #Password{
	width: 300px;
	display: block;
	margin: 10px;
}


.Wrong-Answer-Username-Div::after{
	content: " *Please only use letters, numbers and period in username";
	color: red;
}


.Wrong-Answer-Password-Div::after{
	content: " *Please enter atleast 8 characters";
	color: red;
}


.Form-box #Username label, .Form-box #Password label{
	display: block;
	font-family: 'Playfair Display';
	font-size: 25px;
	color: #000000;
}


.Wrong-Answer::after{
	content: " *";
	color:red;
}


.Form-box #Username input, .Form-box #Password input{
	display: block;
	width: 95%;
	height: 30px;
	border: 3px black outset;
	border-radius: 5px;
	margin: auto;

}


.btn-show-hide-pwd{
	cursor: pointer;
	margin-left: 5px;
	opacity: 0.5;
}


.btn-show-hide-pwd:hover{
	opacity: 1;
}


.btn-show-hide-pwd:active{
	transform: scale(0.9);
}

.Form-box #Password #Input-Container{
	display: flex;
	align-items: center;
}

.Form-box #Username input::placeholder, .Form-box #Password input::placeholder{
	font-size: 20px;
	/* border: 1px black solid; */
	position: relative;
	top: 3px;

}

.Form-box #Username input:focus, .Form-box #Password input:focus{
	display: block;
	width: 97%;
	height: 30px;
	outline: none;
	border: 3px green solid;
	border-radius: 5px;

}


.Form-box #Password-Forgot{
	margin: 10px;
	color: #4fe743;
	font-family: 'Playfair Display';
}


.Form-box #Remember-Me{
	margin: 10px;
	display: flex;
	align-items: center;

}


.Form-box #Remember-Me input{
	opacity: 0;
	position: absolute;
	cursor: pointer;

}


.Form-box #Remember-Me label{
	font-size: 20px;
	display: flex;
	font-family: 'Playfair Display';
}


.Form-box #Remember-Me label::before{
	content: "";
	width: 1em;
	height: 1em;
	border: 0.05em black solid;
	border-radius: 0.15em;
	margin-right: 0.5em;
	align-self: center;
}


.Form-box #Remember-Me label:hover::before, .Form-box #Remember-Me input:hover + label::before{
	background-color: lightgreen;
}


.Form-box #Remember-Me input:checked + label::before{
	content: "\2715";
	background-color: #27ae60;
	display: flex;
	justify-content: center;
	align-items: center;
	color: whitesmoke;
}

.Form-box #Terms-Of-Service p{
	margin: 0px;
	padding: 0px;
}


.Form-box #Terms-Of-Service a{
	color: #4fe743;
	font-style: italic;
	display: inline;
}


.Form-box #Sign-In{
	display: block;
	width: 100%;
	height: 30px;
	margin-top: 10px;
}


.Form-box #Sign-In input{
	display: block;
	width: 90%;
	height: 30px;
	margin: auto;
	border-radius: 5px;
	background: lightgreen;
}


.Create-Account #Account_BTN{
	display: block;
	margin: auto;
	width: 90%;
	height: 30px;
	border-radius: 5px;
	background: lightgreen;
	cursor: pointer;

}


#other_page{
	text-decoration: none;
}

.No_Acc{
	text-align: center;
	font-family: 'Playfair Display';
}
